# Environnement virtuel Python
venv/
.env
.env/

# Fichiers PyTorch et modèles ML
*.pth
*.pt
*.bin
*.h5
__pycache__/
*.py[cod]

# Dependencies
node_modules/
*.so

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo