# Machine Learning / NLP
torch
transformers
huggingface-hub
sentence-transformers
numpy
faiss-cpu

# Génération vidéo et IA
replicate
google-generativeai
google-genai
# Web scraping & HTTP
requests
beautifulsoup4
tldextract
requests-file
urllib3

# Flask / API
flask
flask-cors
gunicorn

# Base de données
pymongo

# Utilitaires
python-dotenv
Pillow

# Playwright
playwright
